body {
  margin: 1.875rem 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  background-color: #006747;
  overflow-x: hidden; }

h1,
p,
ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  display: inline-block;
  color: #006747;
  font-weight: bold; }

header,
#slider,
main,
footer {
  width: 62.5em;
  margin: 0 auto; }

.header--top:not(*:root) {
  letter-spacing: .015em; }

.header--top {
  position: relative;
  width: 2.5em;
  margin: 0 0 0 .5em;
  box-sizing: border-box;
  color: #9ccb3b;
  text-transform: uppercase;
  font-size: 7.8em;
  font-family: "Oswald",Arial,sans-serif; }
  .header--top span {
    position: absolute;
    left: 5.1em;
    bottom: 1.5em;
    padding: 0 .1em;
    color: #006747;
    font-size: .3em;
    background: #fff; }

header {
  position: relative;
  background-color: #fff; }
  header em {
    position: absolute;
    right: 2em;
    bottom: 1.2em;
    display: inline-block;
    width: 14em;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    color: #006747; }

#slider {
  position: relative;
  height: 18.125em;
  background-color: #fff;
  background-image: url("images/dance.png");
  background-size: cover; }
  #slider .header--slider {
    padding-top: 1.58em;
    padding-left: 1.3em;
    color: #9ccb3b;
    font-size: 3em;
    font-weight: 100; }
  #slider .header_content {
    width: 33.18em;
    padding-top: .7em;
    padding-left: 3.9em;
    color: #ccc;
    font-size: 1em;
    line-height: 1.5; }
  #slider:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    border-left: 5.18em solid transparent;
    border-right: 0 solid #9ccb3b;
    border-bottom: 5.18em solid #9ccb3b; }
  #slider:after {
    content: "+";
    position: absolute;
    bottom: 0;
    right: .2em;
    color: #fff;
    font-size: 3em; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff; }
  main .main_list_container {
    padding: 2.875em 3.18em 3.75em 3.9em;
    width: 65%;
    box-sizing: border-box; }
  main .header--list {
    position: relative;
    color: #006747;
    line-height: 1.5; }
    main .header--list:nth-of-type(1):before, main .header--list:nth-of-type(2):before {
      position: absolute;
      bottom: -5px;
      left: 0;
      content: "";
      width: 100%;
      height: 5px;
      background-color: #9ccb3b;
      z-index: 2; }
    main .header--list:nth-of-type(1):after, main .header--list:nth-of-type(2):after {
      position: absolute;
      bottom: -5px;
      left: 0;
      content: "";
      width: 100%;
      height: 5px;
      background-color: #f1f2f2;
      z-index: 1; }
    main .header--list:nth-of-type(1):before {
      background-image: url("images/header-bg-1.png"); }
    main .header--list:nth-of-type(2):before {
      background-image: url("images/header-bg-2.png"); }
  main .list_link {
    -webkit-transition: color .35s ease-in-out;
    transition: color .35s ease-in-out; }
  main .list_link:hover {
    color: #9ccb3b;
    -webkit-transition: color .35s ease-in-out;
    transition: color .35s ease-in-out; }
  main .main_list--default {
    line-height: 1.5; }
    main .main_list--default li {
      padding: .84em 0; }
    main .main_list--default li:first-child {
      padding: 1.68em 0 .84em 0; }
    main .main_list--default li:last-child {
      padding: .84em 0 1.68em 0; }
  main .main_sidebar {
    width: 35%;
    padding: 2.875em 3em 3.75em 0;
    box-sizing: border-box;
    line-height: 1.5; }
    main .main_sidebar img {
      display: block;
      max-width: 100%;
      height: auto; }
    main .main_sidebar .header--side {
      color: #006747; }
    main .main_sidebar .list_link {
      padding-top: 1.5em; }

footer {
  padding: 2.1em 0;
  color: #fff;
  background-color: #006747;
  text-align: center;
  font-size: .8em;
  line-height: 1.5; }
  footer .footer_content {
    width: 36.78em;
    margin: 0 auto; }
  footer .footer_link {
    color: #fff;
    font-weight: bold;
    text-decoration: none; }
  footer i {
    display: inline-block;
    padding-top: 2.1em;
    width: 57.8em; }

@media only screen and (max-width: 414px) {
  main .main_list_container {
    width: 100%; }
  main .main_sidebar {
    padding: 0 3em 3.75em 3.9em;
    width: 100%; } }
@media only screen and (max-width: 768px) {
  #slider .slider_container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  #slider .header--slider {
    padding: 0;
    margin: 0 auto;
    font-size: 2em;
    text-align: center; }
  #slider .header_content {
    padding: .7em;
    width: 100%; }

  footer .footer_content,
  footer i {
    width: 95%; } }
@media only screen and (max-width: 1000px) {
  header,
  #slider,
  main,
  footer {
    width: 100%; }

  .header--top {
    margin: 0 auto; }

  header em {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center; }

  #slider {
    background-image: url("images/dance-2.png"); } }

/*# sourceMappingURL=style.css.map */
